html{
    margin: 0;
    font-family:Laksaman;
}

body{
    margin: 0;
    margin-top: 0;
    overflow: hidden;
}

#background{
    width:100vw;
    height:100vh;
    background-color-black;
    background: url("./images/img.jpg") no-repeat;
    background-size: 100% 100%;
}
#login{
    display:flex;
    width:35vw;
    height:100vh;
    background-color:lightblue;
    margin-left:65vw;
    justify-content:center;
    box-shadow:0px 5px 45px 5px rgba(0,0,0,0.75)


}
input[type="text"], input[type="password"], input[type="submit"]{
    width:15vw;
    height:3vh;
    padding:5px;
    border-radius:10px;
    border:none;
    margin-bottom:4vh;
    outline:none;
}
form{
    align-self:center;
    padding-top:5vh;
    padding-bottom:15vh;
    position: absolute;
    text-align:center;

}
label{
    font-size:24px;
}
h1{
    font-size:72px;
}