body{
    margin:0;
    background-color:#e4eded;
    font-size:20px;
}
#header{
   height:7vh;
   background-color:#e4e7eb;
   width:100%;
   position:fixed;
   display:flex;
   justify-content:flex-end;
   align-items:center;
   float:left;
   opacity:0.8;
   top:0;
   z-index:1000;
}
input[type="text"]{
        width:12vw;
        height:3vh;
        padding:5px;
        border-radius:10px 0px 0px 10px;
        border:none;
        outline:none;
        background-color:#b4b4b4;
}
#searchbutton{
    width:2vw;
    height:4vh;
    padding:5px;
    border-radius:0px 10px 10px 0px;
    border:none;
    outline:none;
    background-color:#929292;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:100px;
    cursor:pointer;
    float:right;
}

#scroll{
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("./images/img.jpg");
    background-size: 100% 140%
    background-attachment:scroll;
    background-position: top center;
    display:flex;
    height:82vh;
    width:100vw;
    top:0;
    justify-content:center;
    align-items:center;
    color:#edf6f7;
    font-size:5vw;
}
#scroll div{
    width:25%;
    transition: width 2s;
}
.container{
    background-color:rgba(166, 166, 166, 0.85);
    width:12vw;
    height:30vh;
    float:left;
    border-radius:5px;
    margin: 0 1.5vw;
    z-index:99;
    font-size:1vw;
    text-align:center;

}
.container div{
    width:90%;
    border-radius: 15px 15px 0 0;
    height:60%;
    background: url("./images/flight-ticket.png") no-repeat;
    background-size: 85% 85%;
    margin:10%;
}
.container h4{
    margin:0;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    border-top:1px solid black;
    width:60%;
}
#wraper{
    display:flex;
    width:100%;
    justify-content: center;
    margin-top:-15vh;
    z-index:99;
}
table{
    width:75%;
    margin-left:8%;
    margin-top:5%;
}

td{
    height:5vh;
    border-bottom:2px dashed #a1a5ab;
    padding:10px
}
td:hover{
    background-color:#3b3eb9;
}
#main{
margin-left:0;
    width:100vw;
    height:93vh;
    float:left;
}
.img{
    width:20vw;
    height:30vh;
    background: url("./images/img.jpg");
    background-size: 200% 100%;
    float:left;
}
.flight{
    margin:5%;
    margin-left:7%;
    width: 80%;
    height:30vh;
    background-color:white;
    display:box;
    border:0.5px solid black;
}

.content{
    width: 58vw;
    float:left;
    margin-left:2vw;
}
p{
    margin:0;
    padding:0;
    width:100%;
    clear:both;
}
h3{
    margin:0;
    margin-right:12vw;
    padding:15px;
    padding-left:0;
    border-bottom: 2px dashed #a1a5ab;
    width:60%;
    float:left;
}
.price{
    position:absolute;
    margin-top:25vh;
    width:70%;
    text-align:right;
    float:left;
}
a{
    color:black;
    z-index:99;
}
a:active{
    color:black;
}
.stars{
width:3vh;
height:3vh;
background:url("./images/star.png") no-repeat;
background-size:100% 100%;
float:left;
margin-top:15px;
}