<!DOCTYPE html>
<http create-session="ifRequired">
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <link href="css/main.css" rel="stylesheet" th:href="@{/css/login.css}"/>
    </head>
    <body>
    <div id="background">

        <div id="login">
            <h1>Login page</h1>

            <form autocomplete="off" method="post" th:action="@{/login.html}">
                <label for="username">Username</label>:<br>
                <input autofocus="autofocus" id="username" name="username" type="text" value=""/> <br/>
                <label for="password">Password</label>:<br>
                <input id="password" name="password" type="password" value=""/> <br/>
                <p class="error" style="color:red;" th:if="${loginError}">Wrong user or password</p>
                <input style="background-color:#4295f5;" type="submit" value="Log in"/>
            </form>
        </div>
    </div>
    </body>
    </html>
</http>