<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Airport</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/mystyle.css" rel="stylesheet">
    <script th:src="@{css/js/main.js}" type="text/javascript"></script>

</head>
<body id="body" onscroll="ScrollFade(0.003)">
<header id="header">
    <form autocomplete="off" method="POST" th:action="@{/search.html}">
        <input id="searchbar" name="searchbar" placeholder="Search..." type="text" value="">
        <button id="searchbutton" type="submit">
            <div style="-webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);">
                &#9906;
            </div>
        </button>
    </form>
</header>
<main id="scroll">
    <div>Travel &<br>&nbsp&nbsp&nbspDiscover</div>
</main>
<div id="wrapper">
    <a href="/search.html">
        <div class="container">
            <div></div>
            <h4>Book a flight</h4>
        </div>
    </a>
    <a href="/brazil.html">
        <div class="container">
            <div style="background: url('./css/images/special.png') no-repeat;background-size: 95% 85%;margin-left:auto;margin-right:auto;width:50%"></div>
            <h4>Special Offer</h4>
        </div>
    </a>
    <a href="/admin">
        <div class="container">
            <div style="background: url('./css/images/customer.jpg') no-repeat;background-size: 85% 85%;"></div>
            <h4>For Admin</h4>
        </div>
    </a>
    <div class="container">
        <div style="background: url('./css/images/icon.jpg') no-repeat;background-size: 85% 85%;"></div>
        <h4>Contact us</h4>
    </div>
</div>
</body>
</html>