<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/mystyle.css" rel="stylesheet">
</head>
<body>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.startDate}">Data</td>
        <td th:text="${flight.fromCity}">Start</td>
        <td th:text="${flight.toCity}">Cel</td>
    </tr>
    </tbody>
</table>
<form method="POST" action="/test" commandName="test">
    <input type="text" name="type" value="">
    <input type="text" name="email" value="">
    <input type="text" name="name" value="">
    <input type="text" name="date" value="">
    <input type="submit" value="Test">
</form>
</body>
</html>